@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

.font-main {
    font-family: "Inter", sans-serif;
}

.font-secondary {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #000000;
    margin-left: 90px;
    margin-right: 90px;
}

/* shared styles */
.display-flex {
    display: flex;
}

.description {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

/* Header related styles */
.header {
    max-width: 1060px;
}

/* Navbar related styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}

.nav-item {
    list-style: none;
    margin-left: 60px;
}

.nav-link {
    text-decoration: none;
}

#home {
    border-radius: 46px;
    background-color: #E6533C;
    padding: 8px 20px;
    font-size: 1.12rem;
    font-weight: 600;
    color: #FFFFFF;
}

.nav-font {
    font-size: 1.12rem;
}

/* Banner related styles */
.banner-container {
    gap: 80px;
}

.banner-content {
    max-width: 600px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 900;
    color: #FFFFFF;
}

.banner-description {
    margin-top: 28px;
}

.btn {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background: rgb(0, 0, 0);
    padding: 16px 40px;
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.banner-img {
    max-width: 348px;
    height: 400px;
    margin-left: 86px;
}

.btn-secondary-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    padding: 20px;
    max-width: 200px;
    height: 90px;
    margin-left: -400px;
    margin-top: -600px;
}

.btn-secondary-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    max-width: 193px;
    max-height: 95px;
    margin-bottom: -337px;
}

#video-number {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(250, 250, 249);
}
#tutorial{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}
/* Change habit section related styles */
.change-habit-container{
    margin-top: 100px;
}
.change-habit-content{
    margin: 0 auto;
    text-align: center;
}
.change-habit-title{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 14px;
}
.card-title{
    font-size: 1.12rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.card-description{
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 576px) {
    .navbar {
        margin-left: 20px;
        margin-right: 10px;
    }
    .nav-item {
        display: none;
    }
    .banner-container{
        flex-direction: column;
    }
    .btn-secondary{
        display: flex;
    }
}